body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#character-container {
    margin-top: 20px;
}

#character-image {
    max-width: 100%;
    max-height: 300px;
}

label {
    display: block;
    margin-top: 10px;
}

#character-name {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 10px auto;
}

#save-button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#t{
    width: 100px;
    margin-top: -50%;
    position:absolute;
    margin-right: -50%;
}

#r{
    width: 100px;
    margin-top: 35%;
    position:absolute;
}

#a{
    width: 100px;
    margin-top: 35%;
    position:absolute;
}

#s{
    width: 100px;
    margin-top: 35%;
    position:absolute;

}

#l{
    width: 100px;
    margin-top: 35%;
    position:absolute;
}

#j{
    width: 100px;
    margin-top: 25%;
    position:absolute;
}

#c{
    width: 100px;
    margin-top: 10%;
    position:absolute;
}

#n{
    width: 100px;
    margin-top: 45%;
    position:absolute;
}
